*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}html{
    //Defines what 1rem is. 1rem = 10px
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(big-desktop){
        font-size: 75%; //12/16 = 75
    }
    @include respond(tab-land){
        font-size: 56.25%; //9/16 = 56.25
    }
    @include respond(tab-port){
        font-size: 50%; //8/16 = 50
    }
    @include respond(phone){
        font-size: 40%; //8/16 = 50
    }

} body {
    box-sizing: border-box;
    font-family: Cera Pro, brown;
    overflow-x: hidden;
}

/*default version*/

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Regular.eot");
    src:
      local("Cera Pro"),
      url("../fonts/CeraPro-Regular.eot") format("embedded-opentype"),
      url("../fonts/CeraPro-Regular.woff") format("woff"),
      url("../fonts/CeraPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Thin.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
