.footer{
    background: #F2C94C;
    padding-top: 10rem;
    &-primary{
        font-weight: bold;
        font-size: 3.6rem;
        color: #232C35;
        text-align: center;
        margin-bottom: 2rem;
    }
    &-secondary{
        font-size: 2rem;
        text-align: center;
        color: #233533;
        margin: 0 auto;
        width: 52rem;
        @include respond(phone){
            width: auto;
        }
    }
}
.form{
    padding: 0 10rem;
    text-align: center;
    margin: 3rem 0;
    margin-bottom: 10rem;
    @include respond(phone){
        padding: 0 4rem;
    }
    input,
    input:focus{
        padding: 1rem 1rem;
        width: 30rem;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        font-family: brown;
        outline: none;
        margin-right: 1rem;
        @include respond(phone){
            display: block;
            width: 100%;
        }
    }
    input::placeholder{
        font-size: 1.6rem;
        color: #FFFFFF;
    }
    button{
        background: #2C3539;
        font-size: 1.6rem;
        color: #fff;
        width: 15rem;
        padding: 1rem;
        border: none;
        font-family: brown;
        @include respond(phone){
            margin-top: 2rem;
        }
    }
}
.footer-base{
    padding: 2rem 10rem;
    background-color: #DEB63D;
    font-size: 1.1rem;
    color: #FFFFFF;
    font-family: brown;
    @include respond(phone){
        padding: 2rem 4rem;
    }
    p{
        display: inline;
    }
    a{
        float: right;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 3rem;
    }
    &-div{
        border-bottom: 1px solid #FFFFFF;
    }
}