.header{
    padding: 0 10rem;
    @include respond(phone){
        padding: 0 4rem;
    }
}
.nav{
    display: flex;
    margin-top: 3rem;
}
.heading-container{
    display: flex;
    justify-content: space-around;
    @include respond(tab-land){
        display: block;
    }

    a{
        border: 3px solid #5C1A8D;
        font-family: Brown;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8rem;
        text-decoration: none;
        padding: 1rem 5rem;
        color: #5C1A8D;
        box-shadow: 2px 7px 30px rgba(136, 113, 43, 0.3);
        border-radius: 3px;
    }
}
.heading-image{
    @include respond(tab-land){
        text-align: center;
    }
    img{
        height: 75vh;
        @include respond(tab-land){
            height: 40rem;
        }
    }
}
.heading{
    margin-left: 5rem;
    margin-top: 15rem;
    @include respond(tab-land){
        text-align: center;
        margin-left: 0;
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
}
.heading-primary{
font-style: normal;
font-weight: bold;
font-size: 4.8rem;
line-height: 5.3rem;
color: #232C35;
margin-bottom: 3rem;
letter-spacing: -2px;
}
.heading-secondary{
    font-weight: bold;
font-size: 2rem;
color: #4F4F4F;
margin-bottom: 4rem;
}

.about{
    margin-top: -3px;
    background: #5C1A8D;
    padding: 10rem;
    @include respond(phone){
        padding: 10rem 4rem;
    }
}
.about-primary{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    width: 62rem;
    @include respond(phone){
        width: auto;
    }
}
.about-secondary{
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: #E0E0E0;
    margin: 3rem auto;
    width: 50rem;
    @include respond(phone){
        width: auto;
    }
}
.about-content{
    display: flex;
    justify-content: center;
    @include respond(tab-port){
        display: block;
    }
}
.about-image{
    img{
        height: 65rem;
    }
    @include respond(tab-port){
        text-align: center;
    }
}
.about-list-container{
    margin-top: 10rem;
    @include respond(tab-port){
        margin-top: 0;
    }
}
.about-list{
    display: flex;
    margin-bottom: 4rem;
    @include respond(tab-port){
        justify-content: center;
    }

    &-bullet{
        background: #F2F2F2;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;
        margin-top: 2rem;
        margin-right: 3rem;
        color: #000000;
        font-size: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-primary{
        font-weight: bold;
        font-size: 2.4rem;
        color: #FFFFFF;
        margin-bottom: 1.5rem;
    }
    &-secondary{
        font-weight: 500;
        font-size: 1.73rem;
        color: #F7F7F7;
        width: 40rem;
    }
}